

.book-container {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    height: auto;

}

.title-book-header {
    color: #000;
    font-size: 3.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0.625rem;
}

.details-book-header {
    color: rgba(0, 0, 0, 0.60);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 0.325rem;
    margin-bottom: 0.325rem;
    text-align: left;
}

.average-rating-container {
    padding: 0.325rem;
    margin-bottom: 0.325rem;
}

.title-book-description {
    color: #000;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
    letter-spacing: 0.00469rem;
}

.content-book-description {
    color: rgba(0, 0, 0, 0.60);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0.004rem;
}

.central-book-container {
    border-radius: 1rem;
    height: auto;
    padding: 2.3rem;
}

.categories-book-container {
    margin: 2.5rem 0;
}

.aditional-information-container {
    margin: 3.5rem 0;
}

.book-title-item {
    color: rgba(0, 0, 0, 0.80);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.book-subtitle-item {
    color: rgba(0, 0, 0, 0.50);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.book-category{
    color:  rgb(184, 79, 255)!important;
    border-color: rgb(184, 79, 255)!important;
}