
.simple-card-container {
    transition: transform 0.3s; /* Agrega una transición para suavizar la animación */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el elemento */
}

.simple-card-container:hover {
    transform: scale(1.1); /* Aplica un aumento de escala (zoom) en el elemento al pasar el mouse sobre él */
}